.helpCenterImgGroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 950px;
    max-width: 100%;
    margin: auto;
    padding: 5px;
}
.searchDivGroup{
    margin: 0px auto;
    width: 950px;
    max-width: 100% !important;
}
.searchDivGroup p{
    margin-bottom: 20px  !important;
    width: 800px;
    max-width: 100% !important;
    margin: auto;
}
.searchDivGroup .searchTitle, .stepTwoHelp .searchTitle,  .stepThreeHelp .searchTitle{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}
.searchForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 650px;
    max-width: 100%;
    margin: auto;
    padding: 5px;
}

.searchForm .inputGroup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 450px;
    max-width: 100%;
    height: 55px;
    margin: auto;
    padding: 5px;
    /* background: #000; */
}
.searchForm .inputGroup input{
    border: 1px solid #1558d6;
    outline: none !important;
    padding: 10px !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    height: 100%;
    flex: 1 1 0%;
    font-size: 16px;
}
.searchForm .inputGroup button {
    width: 90px;
    height: 100%;
    font-size: 22px;
    background: #1558d6;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.helpAccordionGroup{
    width: 800px;
    max-width: 100%;
    margin: auto;
    margin-bottom: 50px;
    padding: 10px;
}
.helpAccordionGroup h3{
    text-align: center;
    font-size: 25px;
    margin: 0 0 25px 0;
}

.AccordionForHelp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.AccordionForHelp .accordionItem{
    width: 100%;
    border-left: 15px solid #808080;
    background: #F7F7F7;
    padding: 0 0 0 25px;
    position: relative;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.AccordionForHelp .accordionItem .accordionHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    cursor: pointer;
    /* background: #000; */
}

.AccordionForHelp .accordionItem .accordionHeader p{
    font-size: 20px;
    font-weight: 500;
}
.AccordionForHelp .accordionItem .accordionBody{
    padding: 10px 5px 20px 5px;
}

.downIcon{
    width: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.accordionBodyGroup{
    display: none;
}
.accordionBodyGroup.active{
    display: block;
}


/* step 2  */
.stepTwoHelp, .stepThreeHelp{
    display: none;
}


.input_group{
    position: relative;
}
.input_group label {
    position: absolute;
    top: 25px;
    left: 15px;
    /*transform: translateY(-50%);
    */font-size: 16px;
    color: transparent;
    padding: 0 5px;
    pointer-events: none;
    background: transparent;
    font-size: 16px;
    color: #666;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
  }

.stepTwoHelp{
    padding: 7px;
}
.input.PleaseDescribeYourRequest{
    border: 1px solid #1558d6 ;
}
.stepTwoHelp form{
    border: 1px solid #1558d6;
    margin: 20px auto;
    width: 650px;
    max-width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 15px;
}

.input_group.messageHelp{
    width: 580px;
    max-width: 100%;
}

.stepThreeHelp .mahadidev7_accordingContext{
    height: unset !important;
    border: 1px solid #1558d6;
    margin: 20px auto;
    width: 650px;
    max-width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 5px;
}


form.helpForm{
    padding-bottom: 30px;
}