* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  outline: none !important;
  /* font-family: "Noto Sans", sans-serif; */
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Sans", sans-serif !important;
}

a {
  text-decoration: none;
  color: #1558d6;
}

ul li {
  list-style: none;
}

i {
  color: #1558d6;
}
.containerMD {
  width: 1450px;
  max-width: 100%;
  margin: auto;
  display: block;
}

.mahadidev7_container {
  width: 650px;
  max-width: 100%;
  /* border: 1px solid #ddd; */
  display: block;
  margin: 20px auto;
  padding: 5px;
}




.topHeader,
.mahadidev7_header_mobile {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3 !important;
  background-color: #fff;
}

.topHeader_Group {
  background: #1558d6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  padding: 5px 15px;
}

.topHeader_Group p {
  color: #fff;
  font-size: 14px;
}

.circlegirlIMG {
  width: 150px;
  max-width: 100%;
  margin: auto;
  display: block;
}
.text-center {
  text-align: center;
}

.mahadidev7_header {
  background: #fff;
  padding: 5px;
  display: block;
  border-bottom: 1px solid #f5f5f5;
}
.mahadidev7_header_mobile {
  display: none;
}

.mahadidev7_header_Group {
  height: 65px;
}


.mahadidev7_header_content {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.mahadidev7_header_content .menu {
  width: auto;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.mahadidev7_header_content .menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mahadidev7_header_content .menu ul li {
  margin: 0 10px;
}

.mahadidev7_header_content .menu ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #1558d6;
  gap: 5px;
  font-weight: medium;
  font-size: 16px;
  transition: all 1s;
}

.mahadidev7_header_content .menu ul li a:hover {
  text-decoration: underline;
}

.mahadidev7_header_content .menu ul li a svg {
  fill: #1558d6;
}

.logo {
  width: 170px;
}

/* input style start */
.input_group {
  position: relative;
  margin: 20px auto;
  width: 450px;
  max-width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* border: 2px solid red; */
}
.input_group label {
  position: absolute;
  top: 25px;
  left: 15px;
  /*transform: translateY(-50%);
  */font-size: 16px;
  color: transparent;
  padding: 0 5px;
  pointer-events: none;
  background: transparent;
  font-size: 16px;
  color: #666;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.input_group .input {
  padding: 18px;
  border: 2px solid #ddd;
  outline: none;
  width: 100%;
  max-width: 100% !important;
  margin: 5px auto;
  display: block;
  font-size: 16px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.error{
  color: #b00020;
  margin-top: -10px;
}
/* .input_group .input:focus ~ label,
.input_group .input:valid ~ label {
  top: 0 !important;
  font-size: 14px !important;
  color: #049f8d;
  background-color: #fff;
} */

/* input style end */

/* according stye start  */


.mahadidev7_accordingItem {
  background: #fff;
  border: 1px solid #cecece;
  margin-top: 10px;
  height: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
}
.step_oneItem {
  border: 1px solid #1558d6;
}

.mahadidev7_accordingHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  /* padding: 0 15px; */
  height: 50px !important;
  background: #eee;
  /* border-radius: 5px; */
}

.mahadidev7_accordingContext {
  height: 0px !important;
  overflow: hidden;
}

.mahadidev7_accordingContext.active {
  padding: 15px;
  margin: 0 0 20px 0;
  height: unset !important;
}

.step_oneHead {
  background: #e7e7e7;
  display: none;
}
.mahadidev7_accordingHeader h4 {
  background: #dbd9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 17px;
  color: #999;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 0 0 0 10px;
  width: fit-content !important;
}
.fLinkGroup {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.fLinkGroup .btn_outline {
  border: 1px solid #ff997f;
}
/* .step_twoHead{
  background: #FFB79B;
} */

/* .mahadidev7_accordingHeader.step_twoHead h4{
  background: #FF6666;
} */

/* .step_ThreeHead{
  background: #B2D8B2;
} */

/* .mahadidev7_accordingHeader.step_ThreeHead h4{
  background: #008000;
} */

/* .step_fourHead{
  background: #CADBFE;
} */

/* .mahadidev7_accordingHeader.step_fourHead h4{
  background: #0000FF;
} */

.resultQuestion {
  color: #222 !important;
  font-size: 18px;
  font-weight: bold !important;
  font-family: "Noto Sans", sans-serif !important;
}

.resultAnswer {
  padding: 2px;
  font-size: 16px;
}
.result {
  flex: 1;
}
.edit {
  /* background: #000; */
  height: 100%;
  padding: 20px;
  border-left: 1px solid #fff;
  cursor: pointer;
}
.edit i {
  font-size: 20px;
}

.stepName {
  font-size: 16px;
  font-weight: bold;
  font-family: "Noto Sans", sans-serif;
  background: #c6e4e3;
  width: fit-content;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 5px 15px;
  margin: 20px auto;
  color: #1558d6;
}

/* according stye end  */

.btn {
  padding: 9px 18px;
  background: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 18px;
  margin: auto;
  display: block;
  background: #1558d6;
  color: #fff;
  cursor: pointer;
}
.btn_outline {
  padding: 6px 22px;
  background: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 18px;
  margin: auto;
  display: block;
  background: #fff;
  color: #1558d6;
  cursor: pointer;
  border: 1px solid #3393df;
}

.inactiveSubmit {
  padding: 9px 18px;
  background: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 18px;
  margin: auto;
  display: block;
  background: #fff;
  color: #999;
  cursor: not-allowed;
  border: 1px solid #999;
}
.ActiveSubmit {
  display: none;
}

.btn i {
  color: #fff !important;
}
.step2a_UL {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin: 20px 0;
}
.step2a_UL button {
  padding: 7px 18px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid #ff997f;
  background: #fff;
  cursor: pointer;
  font-size: 18px;
}
.step2a_UL button:hover {
  background: #ff997f4b;
}
.subTitle {
  font-size: 22px;
  font-weight: 600;
}
.mahadidev7_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
  flex-direction: column;
}
.Success {
  font-size: 80px !important;
  color: green;
}

.step2b {
  display: none;
}
.bergar {
  display: flex;
}

.mobileMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  z-index: 4;
  padding: 15px;
  display: none;
}
.mobileMenu ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.mobileMenu ul li {
  width: 100%;
}
.mobileMenu ul li a {
  width: 100%;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #1558d6;
  display: flex;
  gap: 10px;
  font-weight: medium;
  font-size: 16px;
  transition: all 1s;
}
.mobileMenu ul li a svg {
  fill: #1558d6;
}
.closeMenu {
  font-size: 25px;
  margin: 0 0 15px 0;
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 25px !important;
}
.closeMenu i {
  float: right;
  color: #000;
  cursor: pointer;
}

/* footerGroup  */
footer {
  padding: 70px 0;
  background: #7ec6dd;
  margin-top: 90px;
}

.footerGroup {
  width: 600px;
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 5px;
}

.footerGroup p {
  font-size: 14px;
  text-align: center;
  color: #666;
}
.footerGroup a:hover {
  text-decoration: underline;
}
.footerGroup .cookies_info {
  margin-top: 20px;
}
.footerGroup .BBB_Aplus {
  width: 200px;
  max-width: 100%;
  margin: auto;
}
